body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #555;
}

.container {
  width: 90%;
  max-width: 700px;
  max-height: 700px;
  background: linear-gradient(45deg, #42b2c6, #2eb698);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  background-repeat: no-repeat;
  position: relative;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #555;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 50px;
  border-radius: 30px;
  flex: 1;
  margin: 10px;
  font-size: 18px;
}

.search button {
  border: none;
  padding: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50px;
  width: 80px;
  height: 50px;
  cursor: pointer;
  margin: 10px;
}

.clear-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

button img {
  width: 30px;
  height: 30px;
}

.container.warm {
  background-image: url("sun.gif");
  background-position: center;
  z-index: 0;
  /* background-image: url("warmImage.jpeg"); */
}

.container.cold {
  background-image: url("coldimage.jpeg");
}

.weather-info {
  position: relative;
  z-index: 1;
}
