body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fdf3e6;
  color: #555;
}

.container {
  width: 90%;
  /* max-width: 700px;
  max-height: 700px; */
  /* background: linear-gradient(45deg, #42b2c6, #2eb698); */
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  background-repeat: no-repeat;
  position: relative;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #555;
}
.linkBack {
  text-align: center;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 50px;
  border-radius: 30px;
  flex: 1;
  margin: 10px;
  font-size: 18px;
}
.search input:hover {
  background-color: #e2e1e1;
}

.search button {
  border: none;
  padding: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50px;
  width: 80px;
  height: 50px;
  cursor: pointer;
  margin: 10px;
}
.search button:hover {
  background-color: #e2e1e1;
}

.clear-button {
  position: absolute;
  bottom: 0;
  right: 0;
}
.clear-button:hover {
  background-color: #e2e1e1;
}

button img {
  width: 30px;
  height: 30px;
}

.container.warm {
  background-image: url("icons/day/116.png");
  background-position: center;
  z-index: 0;
}

.weather-icon.day {
  background-image: url("icons/day/113.png");
  background-position: center;
  z-index: 0;
}

.weather-icon.night {
  background-image: url("icons/night/113.png");
  background-position: center;
  z-index: 0;
}

.weather-info {
  position: relative;
  z-index: 1;
}
